---
layout: default
---

<p>My “love story” with product design didn’t start in a smooth way.
    I started my design journey when I was in my senior year where I was responsible for the student’s union communication department. There I fell in love with the possibilites that graphic design could lead me to create.
    I got a bachelor in graphic design and during those three years I always thought that digital design was a big no for me and that I loved editorial design. During this, I ran away big time from digital interfaces and user-centered methods.
    After my intership extremely focused on what I was looking for that time, editorial design and somewhat illustration, I had a project that was mainly about designing digital products and that was when I realized that I really wanted to understand how to design for users and which solutions were the best.
    Currently I am a designer interested in end-to-end projects and in developing innovative digital experiences through human-centered design and my working process includes research and project strategy, information architecture, user flows, wireframing, testing, and iterating.</p>

<p>Skills: user interface, visual design, wireframing, project strategy, information architecture.</p>
<p>Tools: Figma, Illustrator, inDesign, Photoshop.</p>
<p> I have two dogs named Frodo and Gandalf.</p>

